.container{
    border: 2px solid aqua;
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
    /* flex-direction: row-reverse;
    justify-content: space-around; */
    height: 250px;
    flex-wrap: wrap;
}

.box{
    border: 2px dashed tomato;
    height: 50px;
    width: 50px;
}