nav a{
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
    justify-content: space-between;
}

.login-form-container{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    align-items: center;
    height: 90vh;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    /* border: 2px solid blueviolet; */
}

.login-form input{
    margin-top: 20px;
}