.item{
    border: 1px solid aquamarine;
}
.container{
    /* display: flex; */
    display: grid;
    /* grid-template-columns: 200px 200px 200px 200px 200px; */
    grid-template-columns: repeat(5, 200px);
}