.article{
    border: 10px solid black;
    background-color: lightpink;
    margin: 20px;
    width: 500px;
    box-shadow: 10px 20px gray;
}

.header{
    height: 500px;
    background-color: lightgreen;
    background-image: url('');
}