.blog{
    background-color: lightpink;
    border-radius: 10px;
    border: 10px solid green;
    padding: 20px;
    border-top: 10px;
    border-radius: 20px;
}
h2{
    text-decoration: underline;
    text-align: center;
}

li{
    display: inline;
}