.container div{
    border: 2px solid tomato;
    height: 100px;
    width: 200px;
    font-size: 3em;
}
.container{
    display: flex;
}

.box{
    font-size: 4em;
    height: 150px;
    width: 150px;
    border: 2px solid slateblue;
}
.box-container{
    display: flex;
    gap: 50px;
}

.user{
    border: 4px solid blue;
    height: 150px;
    width: 150px;
    font-size: 2em;
    background-color: aquamarine;
}
.user-container{
    display: flex;
    justify-content:space-around;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}